.name_of_game{
    background: aqua;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

section{
    width: 1034px;
    margin: auto;
}

.memory_card{
    margin: 10px;
    border: 1px solid white;

    &_wrapper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        .first {
            border: 1px solid red;
            transition: 0.6s;
            transform: rotateY(180deg);

            .pictures {
                display: block;
            }

            .pictures2 {
                display: none;
            }
        }

        .pictures {
            display: none;
        }

        .pictures2 {
            display: block;
        }
        img {
            width: 150px;
        }
    }
}


.test {
   width: 150px;
}




.card {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    &-front { //.card-front
        color: aqua;
        width: 50%;
        backface-visibility: hidden;
        transition: transform 1s;
    }
    &_front, &_back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    &_front {
        z-index: 2;
    }
    &_back {
        transform: rotateY(180deg);
    }

}


